<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <form id="name">
      <input id="name_input" type="text" placeholder="Enter Your Username" required>
      <input type="Submit" value="Start Chatting!">
    </form>
    <div id="chatbox" style="display:none">
      <p id="status">Not Connected to chat</p>
      <form id="chat_form">
        <input id="chat_input" type="text" placeholder="Enter Your Message!"/>
        <input type="submit" value="Enter Message" />
      </form>
    </div>
    <div id='current_users'>
    </div>
    <script>
      var server = io.connect('http://'+window.location.host);
      $('#name').on('submit', function(e){
        e.preventDefault();
        $(this).hide();
        $('#chatbox').show();
        var name = $('#name_input').val()
        server.emit('join', name)
      });
      $('#chat_form').on('submit', function(e){
        e.preventDefault();
        var message = $('#chat_input').val();
        server.emit('messages', message);
      });
      server.on('connect', function(data){
        $('#status').text('Connected to chat')
      })
      server.on('messages', function(data){
        insertMessage(data);
      })
      server.on('addUser', function(name){
        insertUser(name)
      })
      server.on('removeUser', function(name){
        $('#'+name).remove()
        insertLeaveMessage(name)
      })
      function insertMessage(data) {
        $('#chatbox').append('<p>'+data.name+data.message+'</p>')
      }
      function insertLeaveMessage(data) {
        $('#chatbox').append('<p>'+data+' has left the chat</p>')
      }
      function insertUser(data){
        $('#current_users').append('<p id='+data+'>'+data+'</p>')
      }
    </script>
  </body>
</html>